body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background-color: #f5f6fa;
  color: #222;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1.5rem;
}

.boton {
  width: 60%;
}

.card {
  background: #ffffff;
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 420px;
  text-align: center;
}

h1, h2 {
  margin-bottom: 1rem;
  color: #333;
}

input {
  width: 100%;
  padding: 0.6rem;
  margin: 0.4rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color:#797979;
  font-size: 1rem;
}

input::placeholder {
  color:white;
}

button {
  width: 105%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 6px;
  background-color: #646cff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.25s;
}

li.upde {
  list-style: none;
  margin: 0.5rem 0;
}

li.upde button {
  display: inline-block;
  margin: 0 0.3rem;
  width: auto;
  padding: 0.5rem 1rem;
}


button:hover {
  background-color: #535bf2;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 2px solid #646cff;
}
